.btn-parallax-purchase
{
    padding:30px;
    font-size:1.8em;
    width:200px;
    margin-top: 30px;
}

.bonus-section .btn
{
    font-size: 28px;
    padding:20px;
    margin-top:30px
}

.bonus-section .section-heading p
{
    font-size: 28px
}


.itemlist-heading p
{
    font-size:0.5em;
    line-height: 40px;
}

.purchase-section p
{
    font-size: 22px
}
.bonus-box
{
    font-size: 16px;
}

.textbar p
{
    font-size: 16px;
    line-height: 45px;
}
.gellery .section-heading p
{
    font-size: 24px;
}

.list .section-heading p
{
    font-size: 24px;
}

.list .item p
{
    font-size: 18px;
}
.parallax-wrapp .introduce span
{
    font-size: 1.5em;
}

@media(max-width: 480px)
{
    .introduce p
    {
        font-size: 0.7em;
        line-height: 40px;
    }
    .textbar h2
    {
        font-size: 2em;
    }
    .textbar p
    {
        font-size: 16px;
    }

    .bonus-box img
    {
        position: relative;
        float:none;
        margin: 0;
    }
    .list-styled .parallax-item
    {
        font-size: 20px;
    }
    .btn-parallax-purchase
    {
        font-size: 1.5em;
        padding:20px;
        margin-top: 40px;
    }
    .parallax-img
    {
        margin-bottom: 50px;
    }
    .bonus-section ul li
    {
        font-size: 20px;
    }
    .bonus-section h3
    {
        font-size: 26px;
    }
    .bonus-section .btn
    {
        font-size: 26px;
        text-align: center;
    }

    .bonus-section img
    {
        margin-bottom: 50px;
    }

    .bonus-section .section-heading p
    {
        font-size: 24px;
        line-height: 42px;
    }

    .textbar p
    {
        line-height: 40px;
    }

    .bonus-box p
    {
        line-height: 40px;
    }

    .itemlist-heading p
    {
        line-height: 40px;
        font-size: 18px;
    }
    .purchase-section p
    {
        line-height: 40px;
    }
    .gellery .section-heading p
    {
        font-size: 20px;
        line-height: 40px;
    }
    .list .section-heading p
    {
        line-height: 40px;
    }

    .parallax-wrapp .introduce span
    {
        font-size: 1.1em;
    }
}