@media(max-width: 480px)
{
    .introduce p
    {
        font-size: 0.8em;
    }
    .textbar h2
    {
        font-size: 2em;
    }
    .textbar p
    {
        font-size: 16px;
    }

    .bonus-box img
    {
        position: relative;
        float:none;
        margin: 0;
    }

}